* {
    margin: 0;
    padding: 0
}
body,html{
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro';
}

.nav-header{
    width: 80%;
    height: 100px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    left: 10%;
    box-sizing: border-box;
    padding: 10px 30px;
    background: #fff;
    border-radius:0 0 5px 5px;
    z-index: 10000;
    box-shadow: 0 20px 35px -15px rgba(30,60,80,0.2);
}
.nav-header img {
    margin: 0px;
    height: 100%;
}
.nav-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-header ul li .item-menu{
    color: #000;
    font-weight: 500;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.2s ease;
}
.nav-header ul li .item-menu:hover {
    color: #4A9C74;
}
.nav-header ul li:nth-last-child(1){
    margin-left: 20px;
}
#btn-home{
    color: #4A9C74;
    position: relative;
}
#btn-home:after{
    position: absolute;
    top: 0px;
    left: 25%;
    content: "";
    border-bottom: 2px solid #4A9C74;
    width: 50%;
    height: 100%;
}

/*Estilos Banner*/
.contenedor-banner{ 
    display: flex;
    flex: 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    background: url(../images/lechuga.jpg) no-repeat;
    background-size:cover;
    position: relative;
}
.contenedor-banner:after{
    content: "";
    filter: blur(5px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:#0000007f;
    position:absolute;
}
.contenedor-banner-inner{
    top: 30%;
    position: relative;
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 1;
}
.t-portada {
    font-size: 7rem;
    font-family: 'Laila';
    color: white;
    line-height: 8rem;
}
.t-entrada {
    font-size: 3rem;
    font-weight: normal;
    color: white;
    margin-bottom: 30px;
}
#btn-productos{
    color:#fff !important;
    background: none;
    text-transform: uppercase;
    padding: 15px 25px;
    border:2px solid #fff;
    border-radius: 5px;
    transition: 0.3s ease;
}
#btn-productos:hover{
    background: #4A9C74;
    border-color: #4A9C74;
    box-shadow: 0 15px 20px -5px #1A261ecf;
    color: #fff;
    transition: 0.2s ease;    
}

/*NUESTROS SOCIOS*/
.nts-scs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 30px;
    background: #F2F3F5;
}
.nts-logos{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    box-sizing: border-box;
}
.nts-logos-item{
    filter: grayscale(100%);
    opacity: 0.5;
    margin: 0 20px;
    transition: 0.2s ease;
}
.nts-logos-item:nth-child(1){
    height: 50px;
}.nts-logos-item:nth-child(2){
    height: 90px;
}.nts-logos-item:nth-child(3){
    height: 80px;
}
.nts-logos-item:hover {
    filter: grayscale(0%);
    opacity: 1;
}


/* SECCION DE CARTAS DE PRODUCTOS*/
.sec-productos {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #F2F3F5;
    padding-top: 75px;
    padding-bottom: 0px;
    z-index: 1000;
}
.sec-productos .card{
    margin: 0 50px;
    width: 250px;
    height: 225px;
}
.card-image.image-prod-frescos{
    top:35%;
    width: 90%;
}
.card-image.image-prod-naturales{
    top: 20%;
    width: 80%;
    transform:rotate(45deg)
}
.sec-productos .card:hover > .card-image.image-prod-naturales{
    top:30%;
}
.sec-productos .card:hover > .card-image.image-prod-frescos{
    top:45%;
}

/*END SECTIONS*/
.end-section{
    width: 100%;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: -20px;
}
.end-section > img{
    height: 150px;
}
.end-section .relleno{
    width: 100%;
    background: #F2F3F5;
}

/*ACERCA DE NOSOTROS*/
.section-about{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:50px;
}
.about-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    text-align: center;
    padding-top: 25px;
}
.about-cont img{
    width: 450px;
    border-radius: 10px;
    box-shadow: 0 15px 20px -10px rgba(0,0,0,0.4);
}
.about-cont p{
    width: 40%;
    margin-left: 25px;
    text-align: justify;
    font-size: 1rem;
}

.mision-vision{
    width: 80%;
    display: flex;
    margin-top: 75px;
}
.mision-vision .item .cont-title{
    align-items: flex-start;
    position: relative;
    padding: 0;
    padding-left: 20px;
}
.mision-vision .item .cont-title:after{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    height: 50%;
    width: 20px;
    border-left:3px solid #4A4C4F;
}
.mision-vision .item .cont-title .pre-title{
    font-size: 1rem;
}
.mision-vision .item .cont-title .title{
    font-size: 1.5rem;
    line-height: 2rem;
}
.mision-vision .item{
    width: 100%;
    margin: 15px;
}
.mision-vision .item .text{
    width: 100%;
    margin-top: 20px;
    text-align: justify;
}
.mision-vision .item .list{
    list-style: none;
}
.mision-vision .item .list li i{
    font-size: 0.7rem;
    margin-right: 5px;
    color: #7a7a7a;
}



#nt-productos{
    width: 100%;
    background: #000000af;
    padding:30px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
#nt-productos:after{
    content: "";
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0;
    top: 0;
    background: url(../images/bgfrutas.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#nt-productos .cont-title .pre-title{
    color:#fff;
}
#nt-productos .cont-title .title{
    color: #fff;
}
.horizontal{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 25px 50px;
}
.nt-prod-f{
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    background: #fff;
    margin:15px;
    overflow: hidden;
  }
  .nt-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }  

  .texto {
    text-align: center;
    margin:20px 0;
  }
#pro-txt {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #384144;
    font-family: 'Laila';
}
#pro-txt-p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 900;
    color: #000;
}
#contact:hover{
    color: rgb(10, 15, 11);
    background: rgba(10, 184, 10, 0.7);
    
}
/*Fomulario*/
.formulario {
    width: auto;
    height: auto; 
    background: #F2F3F5;
    text-align: center;
    padding: 5% 0;
}

.formulario input{
    align-items: flex-start;
    border-radius: 5px;
    height: 30px;
    width: 355px;
    border: 2px solid #ddd;
    margin-bottom: 15px; 
    padding: 10px 15px;
}

.formulario input:hover{
    transition: 0.2s;
}
.formulario input:focus{
    outline: none;
}
#textarea-f{
    border-radius: 5px;
    width: 355px;
    border: 2px solid #ddd;
    padding: 10px 15px;
    font-family: 'Source Sans Pro';
    font-size:1rem;
}
#textarea-f:focus{
    outline: none;
}

#form{
    letter-spacing: 1pt;
    color: #384144;  
}

.formulario input::placeholder{
    color: #ccc;
}

.formulario textarea::placeholder{
    color: #ccc;
}
.formulario #btn-send{
    border:none;
    margin: 0 auto;
    margin-top: 20px;
}

footer{
    width: 100%;
    background: #141718;
}

label{
    color: #384144; 
}
.cont-footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#title-footer{
    letter-spacing: 2pt;
    font-size: 2.2em;
    color: #fff;
}
.text-left{
    color: #fff;
    margin: 7% 7%;
    width: 25%;
    text-align: justify;
    color: #99a5b3;
    font-size: 0.7em; 
    line-height: 1.5;
}
.text-left p, .text-rigth p {
    padding: 10px 0
}

.text-center{
    width: 10%;
    margin: auto;
}

.text-center img{
    width: 100%;
}

.text-rigth{
    margin: 7% 7%;
    width: 25%;
    color: #99a5b3;
    font-size: 0.7em;  
    line-height: 1.5;
    

}
.nav-footer {
    width: 100%;
    background: black;
    padding: 2.5%;
}
.nav-footer span {
    color: #7a7a7a;
}
.nav-footer li {
    float: right;
    list-style: none;
    padding: 0 2.5%;
    display: block;
    color: #7a7a7a;
    text-align: right;
    text-decoration: none;
}

.nav-footer li:hover {
    color: #badc58;
}



